.contact {
  --line-height: 1.5em;
  width: 60%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .mobile & {
    width: 90%;
  }
  @include fromTo(l, 1500px) {
    width: 80%;
  }
  &-form {
    font-family: $font-heading;
  }
}
.form-group {
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(#000, 0.5);
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  &:nth-child(2) {
    margin-bottom: 0.2em !important;
  }
  label,
  input,
  textarea {
    line-height: var(--line-height);
    font-family: inherit;
    font-size: 0.9vw;
    border: none;
  }
  label,
  input {
  }
  input,
  textarea {
    background: transparent;
    &:-webkit-autofill {
      background: transparent;
    }
    &:focus,
    &:valid,
    &:invalid {
      outline: none;
      box-shadow: none;
    }
  }
  label {
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
  }
  input {
    padding: 0 0.5em 0 1em;
  }
  textarea {
    // padding: 0 0.5em 0 1em;
    // height: calc(var(--line-height) * 4);
    resize: none;
  }
}
.message {
  border: none !important;
  position: relative;
  label {
    padding-top: 0.7em !important;
    align-self: normal;
  }
}
.form_footer {
  //margin-top: 1em;
  transform: translateY(2.5em);
  display: grid;
  grid-template-columns: calc(var(--margin) * 2) 1fr;
  grid-column-gap: 1em;
  @include from(1500px) {
    transform: translateY(1em);
    grid-template-columns: calc(var(--margin) * 1.5) 1fr;
  }
  button.button.send {
    font-family: inherit;
    text-transform: uppercase;
    background: #000;
    border-radius: 0;
    line-height: 2.5em;
  }
  .messages {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 2em;
      height: 2em;
    }
    p {
      text-align: center;
    }
    &.success,
    p.success,
    &.success p {
      color: darkgreen;
    }
    &.error,
    p.error,
    &.error p {
      color: darkred;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact__data {
  font-family: $font-tequilas-text;
  font-size: 0.9vw;
  h2 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1em;
    padding-top: 0.5em !important;
  }
  p {
    margin: 0 !important;
  }
}

.social-network-contact {
  $size: 1.5em;
  margin-top: 1em;
  @extend %lists-style;
  display: flex;
  li {
    margin-left: 0.5em;
  }
  a {
    display: flex;
    width: $size;
    height: $size;
    img {
      height: $size;
      width: auto;
    }
  }
}
.mobile {
  .form-group {
    label,
    input,
    textarea {
      font-size: 0.8em;
    }
  }
  .form_footer {
    grid-template-columns: 30% 1fr;
    button.button.send {
      font-size: 0.8em !important;
      line-height: 1.5em !important;
    }
  }
  .contact__data {
    font-size: 0.8em;
  }
}

.message {
  $line: 2.5em;
  --line: #{$line};
  height: auto !important;
  margin-bottom: 0 !important;
  &::before {
    $color: #000;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: $color;
    top: $line;
    left: 0;
    box-shadow: blocknotes($color, $line, 3);
    opacity: 0.5;
  }
  label {
    padding-top: 1em !important;
  }
  .textarea {
    padding: 0 1em;
    height: $line * 4;
    line-height: calc(#{$line} - 0.2em);
  }
}
.mobile .message {
  $line: 1.9em;
  $color: #000;
  --line: #{$line} !important;
  transform: translateY(-0.8em);
  &:before {
    box-shadow: blocknotes($color, $line, 3);
  }
  z-index: 110;
  label {
    padding-top: 1.9em !important;
  }
  textarea {
    transform: translateY(1em);
    height: calc(var(--line) * 4.8);
    line-height: calc(var(--line) * 1.2) !important;
    font-size: 0.8em !important;
    padding: 0 0.5em !important ;
  }
}
.mobile .form-group {
  position: relative;
  z-index: 120;
  margin-bottom: 0.6em;
}
.mobile .form_footer {
  // transform: translateY(0.3em);
  margin-top: -1.2em;
}
