$margin: 3em;
.section__title, .section__subtitle{
  display: table;
  margin: 0 auto;
  font-weight: normal;
  text-transform: uppercase;
}
.section__subtitle{
  margin-bottom: .5em !important;
}
.section__group, .section__title{
  position: relative;
  margin-bottom: $margin + 1 !important;
  &::after{
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: $margin;
    left: 50%;
    bottom: 0;
    background: rgba(#000,.5);
    transform: translateY(calc(100% + .5em)) translateX(-50%);
  }


  //&:last-child{
  //
  //  &::before{
  //    display: none;
  //  }
  //}
}
.section__title{
  line-height: 2em;
  padding: 0 1em;
  box-shadow: 0 0 0 1px rgba(#000,.5);
}
.section__group:last-child{
  margin-bottom: 0 !important;
  &::after {
    display: none;
  }
}
