footer.main-footer.f-inicio#main-footer
  p.main-footer__text DESTILADORA DE AGAVE AZUL, S.A DE C.V.
  .main-footer__right#footer-right
    ul.social-network
      li: a(href="https://www.instagram.com/destiladoraagaveazul/", target="_blank") Instagram
      li: a(href="https://www.facebook.com/destiladoraagaveazul/", target="_blank") Facebook
