header.main-header#main-header
  a(href="#inicio").main-header__logo
    +logo('logo.svg','logo','main-logo')
  .main-header__text
    p.slogan Una historia de trabajo, dedicación y pasión, para compartir y disfrutar.
    .main-header__toggle
      include ../icons/toggle
    include ../includes/main-menu

      
