section.section.nosotros#nosotros
  article.nosotros__banner.section__banner
    img(src="img/Landscape.jpg" alt="paisaje")
  article.section__content
    .section__text.nosotros__text
      p DESTILADORA DE AGAVE AZUL, S.A. de C.V., una empresa 100% mexicana, establecida en el pueblo de San Juanito de Escobedo, localizado a 80 km de Guadalajara, en el centro Oeste del Estado de Jalisco.
      p Nuestra historia rica en tradición, inicia con Don Anselmo García, visionario comerciante quien durante muchos años recorrió la ruta de Tequila ofreciendo sus artesanías hechas a base de Tule (sombreros, chinas para el agua, petates entre otros) y fue en esos recorridos que conoce la bebida aguardiente (hoy en día conocida tequila) y se interesa por su proceso artesanal de elaboración.
      p Fue así como al observar las características naturales de crecimiento de los plantíos de agave (en aquel tiempo conocido maguey) decide llevar la planta al pueblo de San Juanito de Escobedo y es así como en el año 1930 da origen a la taberna para elaborar dicha bebida.
      p La taberna se convirtió en un punto de reunión para las personas del pueblo quienes disfrutaban de la bebida artesanal en compañía de sus amigos y familiares.
      p Hasta los años cincuenta, esta propiedad pertenecía a la familia García. Sin embargo, en el año de 1964 la taberna cambia de norte y de dueños, los cuales continuaron elaborando Tequila sin obtener mucho éxito dejando años después olvidada la taberna
      p En el año 1996 un grupo de empresarios decide restablecer la tequilera y es ahí cuando se funda “DESTILADORA DE AGAVE AZUL, S.A. de C.V.”.
      p Al ponerse en venta en el año 2005 y tras conocer la historia del lugar perteneciente a su bisabuelo Don Anselmo García, el Sr. Jose de Jesús García García es quien decide emprender nuevamente la tradición de la elaboración de un tequila de alta calidad, posicionándolo tanto en el mercado nacional como internacional.

    img(src="img/arrowDown.svg" alt="").arrowdown
