-let pageTitle = 'Home'
-let siteName = 'Agave Azul'
-let twitterAccount = '@agaveazul'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-let Url =  "http://destiladoraagaveazul.com"
-let urlPage = ''
-
  let pages = [
  {
  title: 'Nosotros',
  url: '#nosotros',
  child: []
  },
  {
  title: 'Destiladora',
  url: '#destileria',
  child: []
  },
  {
  title: 'Tequilas',
  url: '#tequilas',
  child: []
  },
  {
  title: 'Contacto',
  url: '#contacto',
  child: []
  }
  ]
